/out/
/build/
/CMakeUserPresets.json
/vcpkg_installed/
/.cache/
/.vs/
/.vscode/
*.user
*.suo
*.VC.db
*.VC.opendb
config/data/logs/*.log
config/default-config.json.history/*.json
config/data/event_root/.metadata/events.db
event_root
cache
